<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604169052633-osl9p0i3s706lbrv1p4qsgsj5eh7f9vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604169052633-osl9p0i3s706lbrv1p4qsgsj5eh7f9vh</string>
	<key>API_KEY</key>
	<string>AIzaSyA4QIVz-CrKd098KGiXmHZXR-um7AD1_5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>604169052633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.genit.kidsquiz</string>
	<key>PROJECT_ID</key>
	<string>kidsquiz-4e94f</string>
	<key>STORAGE_BUCKET</key>
	<string>kidsquiz-4e94f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604169052633:ios:7328d3745710316b4f79c8</string>
</dict>
</plist>